FlowCell/local/
Blender/FlowCellButtons/blender_bridge/

Illustrator/ScriptDump/**
!Illustrator/ScriptDump/
!Illustrator/ScriptDump/Downloaded/
!Illustrator/ScriptDump/Downloaded/.gitkeep
!Illustrator/ScriptDump/Testing/
!Illustrator/ScriptDump/Testing/.gitkeep
!Illustrator/ScriptDump/OldVersions/
!Illustrator/ScriptDump/OldVersions/.gitkeep

Photoshop/ScriptDump/**
!Photoshop/ScriptDump/
!Photoshop/ScriptDump/Downloaded/
!Photoshop/ScriptDump/Downloaded/.gitkeep
!Photoshop/ScriptDump/Testing/
!Photoshop/ScriptDump/Testing/.gitkeep
!Photoshop/ScriptDump/OldVersions/
!Photoshop/ScriptDump/OldVersions/.gitkeep

Windows/ScriptDump/**
!Windows/ScriptDump/
!Windows/ScriptDump/Downloaded/
!Windows/ScriptDump/Downloaded/.gitkeep
!Windows/ScriptDump/Testing/
!Windows/ScriptDump/Testing/.gitkeep
!Windows/ScriptDump/OldVersions/
!Windows/ScriptDump/OldVersions/.gitkeep

Blender/ScriptDump/**
!Blender/ScriptDump/
!Blender/ScriptDump/Downloaded/
!Blender/ScriptDump/Downloaded/.gitkeep
!Blender/ScriptDump/Testing/
!Blender/ScriptDump/Testing/.gitkeep
!Blender/ScriptDump/OldVersions/
!Blender/ScriptDump/OldVersions/.gitkeep

Blender/FlowCellButtons/ScriptDump/**
!Blender/FlowCellButtons/ScriptDump/
!Blender/FlowCellButtons/ScriptDump/Downloaded/
!Blender/FlowCellButtons/ScriptDump/Downloaded/.gitkeep
!Blender/FlowCellButtons/ScriptDump/Testing/
!Blender/FlowCellButtons/ScriptDump/Testing/.gitkeep
!Blender/FlowCellButtons/ScriptDump/OldVersions/
!Blender/FlowCellButtons/ScriptDump/OldVersions/.gitkeep

*.exe
*.dll
*.pdb
*.msi
*.zip
*.7z

bin/
obj/
.vs/

Thumbs.db
.DS_Store
