[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=flowcell_layers
X-Python-2-Compatible=false
Name=FlowCell Layers
Comment=FlowCell layer organization, named groups, snapshots, archive and trash
